body {
    margin: .3125rem .3125rem;
}

table {
    width: 15rem;
    table-layout: fixed;
}

td {
    border-bottom: 1px solid black;
    white-space: nowrap;
    text-decoration: none;
    text-overflow: ellipsis;
    overflow: hidden;
}

td:hover {
    overflow: visible;
    white-space: normal;
    word-wrap: break-word;
}

button {
    width: 100%;
    height: 2rem;
    border: none;
    cursor: help;
}

.wrapper {
    padding: .3rem;
    border-bottom: 1px solid black;
    text-align: center;
}

.subscribed {
    color: blue;
}

.none {
    display: none;
}

.offline {
    color: #999;
}

.online {
    color: #fd9ccc;
}

.timeout {
  color: lightgrey;
}

/*.title
{
  font-size: 16px;
}*/

.small {
    font-size: .7em;
}

.divide {
    height: .2em;
}

a {
    text-decoration: none;
}
