body
{
    /*min-width: 150px;*/
    margin: 5px 5px;
}

td
{
    border-bottom: 1px solid black;
}

.wrapper
{
    padding: 5px;
    border-bottom: 1px solid black;
    text-align: center;
}

.excited
{
    color: blue;
}

.exciting
{
    color: black;
}

.none
{
    display: none;
}

.offline
{
    color: #999;
}

.online
{
    color: #fd9ccc;
}

/*.title
{
  font-size: 16px;
}*/

.small
{
    font-size: 11px;
}

.divide
{
    height: 3px
}

a
{
    white-space: nowrap;
    text-decoration: none;
}
