body {
  margin: 5px 5px;
  width: 250px;
}

ol {
<<<<<<< HEAD
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
=======
  align-items: stretch;
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  justify-content: space-between;
>>>>>>> 53893062e5379b7ed8d0cc9eb88d208dbd4d5049
  padding: 5px;
}

li {
<<<<<<< HEAD
  flex: 1 1 auto;
  overflow: auto;
  line-height: 2;
  list-style-type: none;
  margin: 0;
  padding: 5px;
  margin-left:0px;
  max-width: 250px;
  border-bottom: 1px solid black;
  cursor: pointer;
}

li>span {
  flex: 1 1 auto;
  display: flex;
  text-align: center;
  justify-content: center;
}

.excited {
  color: blue;
}

.exciting {
  color: black;
}

.none {
  display: none;
}

label {
  cursor: pointer;
=======
  border-bottom: 1px solid black;
  cursor: pointer;
  flex: 1 1 auto;
  line-height: 1.5;
  list-style-type: none;
  overflow: auto;
}

.wrapper label {
  cursor: pointer;
  width: 20px;
}

.wrapper input {
  width: calc(100% - 40px);
>>>>>>> 53893062e5379b7ed8d0cc9eb88d208dbd4d5049
}

.offline {
  color: #999;
}

.online {
  color: #fd9ccc;
}
